<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223211933668-tke133duec1nsbssdbkueplo6pf6fofd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223211933668-tke133duec1nsbssdbkueplo6pf6fofd</string>
	<key>API_KEY</key>
	<string>AIzaSyCu4ZPNL7McG9dIxWobMJUshV0PTklZ-iw</string>
	<key>GCM_SENDER_ID</key>
	<string>223211933668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gomes.likhon.SmartPrompterAdmin</string>
	<key>PROJECT_ID</key>
	<string>smartprompter</string>
	<key>STORAGE_BUCKET</key>
	<string>smartprompter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223211933668:ios:12c5890782e74eb9d401f1</string>
	<key>DATABASE_URL</key>
	<string>https://smartprompter.firebaseio.com</string>
</dict>
</plist>